@model LoginViewModel

<div class="container row justify-content-center">
    <div class="col-md-8 card">
        <div class="card-title m-4"><h2>Login</h2></div>
        <div class="card-body">
            <form asp-action="Login" method="post" class="p-2">
                <div class="row g-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-12 form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" placeholder="enter your email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" placeholder="enter password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 my-4">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

