@model RegisterViewModel
<h2>Register</h2>


<div class="container-fluid card">
    <form asp-action="Register" method="post" class="p-2">
        <div class="row g-3">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-md-12 form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" placeholder="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" placeholder="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" type="password" placeholder="re-enter password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="col-md-4 form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" placeholder="first name" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-4 form-group">
                <label asp-for="MiddleName"></label>
                <input asp-for="MiddleName" placeholder="middle name" class="form-control" />
            </div>
            <div class="col-md-4 form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" placeholder="last name" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" placeholder="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group">
                <label asp-for="Country"></label>
                <input asp-for="Country" placeholder="country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="col-md-12 my-4 text-end">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
        </div>
    </form>
</div>
